

.icon-container {
    background-color:  #288784;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.icon-item {
    text-decoration: none;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

i.fa-times-circle {
    font-size: 20px;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
}
.a {
    width: 0;
    height: 0;
    font-size: 0px;
    
}
