body {
    margin: 10px;

}
* {
    box-sizing: border-box;
    font-size: 10px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #A3D2CA;
    border-radius: 30px;
    padding: 10px;
    align-items: center;

}
/*--------------logo-----------------*/
.navBar-logo h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #005E5B;
    margin: 0;
    font-size: 2rem;

}

.navBar-logo h1 span {
    color: white;
    font-size: 2rem;
    
}
 /*--------------end of logo--------------*/


/*--------------item list-----------------*/

.navBar-itemlist {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.navBar-items {
    display: flex;
    flex-basis: 80%;
    justify-content: space-around;
    align-items: center;
}


.navBar-item__link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    
    
}

.b {
    display: none;
}

/*--------------end of item list-----------------*/

/*--------------image-----------------*/


.navBar-account
{
    
    background-color: teal;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    
}

img {
    height: 0px;
    width: 0px; 
}

/*--------------end of image-----------------*/

 
/*--------------media queries-----------------*/

@media(max-width: 984px) {
    .navBar-itemlist {
        display: flex;
        flex-basis: 40%;
        justify-content: space-between;
        align-items: center;
    }
}








/*--------------end of media queries-----------------*/